.article_container{
    width: min(var(--max-width), 100%);
    margin: auto;
    padding: var(--padding-0-3p-10px);
}
.article_title{
    color: var(--btn-primary-bg-color);
    margin: 30px 0 15px;
    font-size: clamp(25px, calc(3dvw + 15px), 36px);
}
.article_info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 90%;
    font-size: 14px;
    padding: 3px var(--padding-article-left);
    border-bottom: 2px solid var(--btn-primary-bg-color);
}
.article_created_by{
    font-weight: 600;
}
.article_text{
    width: 90%;
}
.article_paragraph{
    margin: 15px 0;
    text-indent: 3%;
}
.article_tags{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-left: var(--padding-article-left);
}
.tags_icon{
    color: var(--btn-primary-bg-color);
    font-size: 16px;
}
.tag{
    font-size: 13px;
}