/* Estos estilos sirven también para el formulario de Log In. Capaz más adelante haga un archivo en conjunto */
/* 
TODO:
    - Armar un único archivo o dejar todos estos estilos en el archivo global
*/

.form_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100dvh;
    background-color: rgba(0, 0, 0, .1);
    padding: 15px;
}

.form_container{
    background-color: var(--neutral--100);
    border-radius: 10px;
    overflow: hidden;
    width: min(600px, 95%);
    height: min-content;
}
.form_header{
    background-color: var(--btn-primary-bg-color);
    padding: var(--sign-up-padding);
    text-align: center;
    color: var(--neutral--100);
}
.form_header_title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 28px;
}
.form_header_title i {
    color: var(--neutral--100);
}
.form_header_span{
    font-size: 14px;
}

.form_body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: var(--sign-up-padding);
}
.form_row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.two_columns{
    grid-column-start: 1;
    grid-column-end: span 2;
}
.last_row{
    border-bottom: 1px solid var(--neutral--300-opacity);
    padding-bottom: 20px;
}
.required::after{
    content: ' *';
    color: var(--required-color);
}
.input_with_icon{
    display: flex;
    gap: 5px;
    border: 1px solid var(--neutral--300);
    padding: 7px 10px;
    border-radius: var(--border-radius-btns);
    color: var(--btn-primary-bg-color);
}
.input_with_icon i{
    color: var(--btn-primary-bg-color);
}
.input_with_icon:focus{
    outline-color: var(--btn-primary-bg-color);
}
.form_input{
    flex: 1;
    border: none;
}
.form_input:focus{
    outline: none;
}
.form_warning{
    font-size: 10px;
    color: var(--required-color);
    margin-left: 10px;
}
.margin_auto{
    margin: auto;
}
.country{
    width: 100%;
}
/* Botones */
.primary_btn{
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 5px 0;
    background-color: var(--btn-primary-bg-color);
    font-size: 16px;
    color: var(--neutral--100);
    border-radius: var(--border-radius-btns);
}


.signup_form_footer_p{
    font-size: 10px;
    color: var(--neutral--300);
    text-align: center;
}
.signup_form_footer_span{
    color: var(--btn-primary-bg-color);
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .form_header_title{
        flex-direction: column;
        font-size: 22px;
        gap: 0;
    }
    .form_row{
        grid-template-columns: 1fr;
    }
}