:root{
    --prev-side-padding: 8px;
    --prev-left-padding: 5px;
}

.preview_conainer{
    border: 2px solid var(--btn-primary-bg-color);
    border-radius: 10px;
    overflow: hidden;
    width: 220px;
}
.preview_title{
    background-color: var(--btn-primary-bg-color);
    padding: var(--prev-left-padding) var(--prev-side-padding);
    color: var(--neutral--100);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}
.preview_paragraphs{
    font-size: 12px;
    border-bottom: 2px solid var(--btn-primary-bg-color);
    padding: var(--prev-left-padding) var(--prev-side-padding);
    height: 7rem;
    overflow: hidden;
}
.prev_article_info{
    display: flex;
    justify-content: space-between;
    padding: var(--prev-left-padding) var(--prev-side-padding);
    font-size: .7rem;
}
.prev_username{
    font-weight: 900;
}

@media screen and (max-width: 420px) {
    .preview_title{
        font-size: 17px;
    }
    .preview_paragraphs{
        display: none;
    }
    .prev_article_info{
        font-size: .6rem;
        font-weight: 400;
    }
}