@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root{
  /* Colores */
  --neutral--000: #fff;
  --neutral--100: #fdfdfd;

  --neutral--300: #aaa;
  --neutral--300-opacity: #aaaaaa49;

  --neutral--900: #111;


  --btn-primary-bg-color: #90BABE;

  --border-main-color: #dcdcde;

  --required-color: #e74c3c;

  /* Medidas */
  --gap-main: 20px;
  --sign-up-padding: 30px;

  --border-radius-btns: 5px;

  --max-width: 1170px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Science Gothic", sans-serif;
  color: var(--neutral--900);
}
main{
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

a{
  text-decoration: none;
  color: var(--neutral--900);
}
button{
  border: none;
  cursor: pointer;
  background-color: transparent;
}
i{
  color: var(--neutral--100);
}


.whole_page_flex{
  display: flex;
  flex-direction: column;
}
.homepage_main{
  display: grid;
  margin: auto;
  width: min(var(--max-width), 100%);
}
.section{
  padding-bottom: 50px;
  border-bottom: 1px solid var(--border-main-color);
}
.articles_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* @media screen and (max-width: 1100px) {
  .articles_container{
    grid-template-columns: repeat(3, 250px);
  }
}

@media screen and (max-width: 840px) {
  .articles_container{
    grid-template-columns: repeat(2, 250px);
  }
}

@media screen and (max-width: 560px) {
  .articles_container{
    grid-template-columns: repeat(1, 250px);
  }
} */