@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root{
  /* Colores */
  --neutral--000: #fff;
  --btn-primary-bg-color: #90BABE;

  --border-main-color: #dcdcde;


  /* Medidas */
  --gap-main: 20px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Science Gothic", sans-serif;
}

a{
  text-decoration: none;
}
button{
  border: none;
  cursor: pointer;
}