@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root{
  /* Colores */
  --neutral--000: #fff;
  --neutral--100: #fdfdfd;

  --neutral--300: #aaa;
  --neutral--300-opacity: #aaaaaa49;


  --btn-primary-bg-color: #90BABE;

  --border-main-color: #dcdcde;

  --required-color: #e74c3c;

  /* Medidas */
  --gap-main: 20px;
  --sign-up-padding: 30px;

  --border-radius-btns: 5px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Science Gothic", sans-serif;
}

a{
  text-decoration: none;
}
button{
  border: none;
  cursor: pointer;
  background-color: transparent;
}